**/__pycache__/
**/lib/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.so
**/*.egg-info/
**/*.egg
**/*.whl
**/.mypy_cache/
**/.pytest_cache/
**/.coverage
**/.hypothesis/
**/.tox/
**/.coverage.*
**/logs/
wandb/
logs/
log/
.DS_Store